[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "vendor/libsndfile"]
	path = vendor/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "vendor/libsamplerate"]
	path = vendor/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
